AZURE_OPENAI_ENDPOINT=<connection_string>
AZURE_OPENAI_API_KEY=<openai_api_key>
AZURE_OPENAI_DEPLOYMENT=<openai_model>

SERVICE_BUS_CONNECTION_STRING=<connection_string>
SERVICE_BUS_TOPIC=<topic_name>
SERVICE_BUS_SUBSCRIPTION=<subscription_name>

BLOB_STORAGE_CONNECTION_STRING=<connection_string>
BLOB_STORAGE_CONTAINER=<container_name>